<div data-aos="fade-right" data-aos-duration="700" class="col-4">
    <div class="row babyrowman">
        <div id="BS1" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">\</div>
        <div id="five1" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">5</div>
    </div>
    <div class="row babyrowman">
        <div id="BS2" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">\</div>
        <div id="five2" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">5</div>
    </div>
    <div class="row babyrowman">
        <div id="BS3" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">\</div>
        <div id="five3" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">5</div>
    </div>
</div>