<div data-aos="fade-left" data-aos-duration="700" class="col-4">
    <img src="./images/logo-left.png" alt="" class="side-logo logo-right btn">
    <!-- <div class="row babyrowman justify-content-end">
        <div id="nine1" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">9</div>
        <div id="V1" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">V</div>
        <div id="T1" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">T</div>
    </div>
    <div class="row babyrowman justify-content-end">
        <div id="nine2" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">9</div>
        <div id="V2" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">V</div>
        <div id="T2" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">T</div>
    </div>
    <div class="row babyrowman justify-content-end">
        <div id="nine3" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">9</div>
        <div id="V3" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">V</div>
        <div id="T3" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">T</div>
    </div> -->
</div>