<%- include('partials/header.ejs', {content: 'we are a creative outlet.'}) %>

	<div class="main mx-3 py-2">
			<div class="row bigrowman">
				<div class="col-4">
					<div id="R1" class="row babyrowman justify-content-center align-items-center">
						<span id="link1"><a href="/">home</a></span><p class="backslashes mb-0 mt-1">\\</p><span id="link2"><a href="/catalogue">catalogue</a></span>
					</div>
					<div id="R2" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R3" class="row babyrowman justify-content-end align-items-center"></div>
				</div>
				<div class="col-4">
					<div id="R4" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R5" class="row babyrowman justify-content-center align-items-center"></div>
					<div id="R6" class="row babyrowman justify-content-end align-items-center"></div>
				</div>
				<%- include('partials/puzzle-right.ejs') %>
			</div>
			<div data-aos="fade" data-aos-duration="2000" class="row bigrowman">
				<div class="col-2 col-md-3 col-xl-4">
					<div id="R7" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R8" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R9" class="row babyrowman justify-content-center align-items-center"></div>
				</div>
				<div class="col-8 col-md-6 col-xl-4 align-items-center">
					<div class="logo-container">
						<h3 class="text-left">we are a creative outlet.</h3>
					</div>
					<div class="logo-container">
						<h3 class="text-right">our catalogue ranges from the manifestations of writers to psychics, artists to ideas.</h3>
					</div>
					<div class="logo-container">
						<h3 class="text-left">nearly 100% of proceeds go to our contributors.</h3>
					</div>
					<div class="logo-container">
						<h3 class="text-right">come, explore our experiments.</h3>
					</div>
				</div>
				<div class="col-2 col-md-3 col-xl-4">
					<div id="R10" class="row babyrowman justify-content-center align-items-center"></div>
					<div id="R11" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R12" class="row babyrowman justify-content-start align-items-center"></div>
				</div>
			</div>
			<div class="row bigrowman">
				<%- include('partials/puzzle-left.ejs') %>
				<div class="col-4">
					<div id="R19" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R20" class="row babyrowman justify-content-center align-items-center"></div>
					<div id="R21" class="row babyrowman justify-content-start align-items-center"></div>
				</div>
				<div class="col-4">
					<div id="R22" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R23" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R24" class="row babyrowman justify-content-center align-items-center">
						<span id="link3"><a href="/submissions">submissions</a></span>
						<p class="backslashes mb-0 mt-1">\\</p>
						<span id="link4"><a href="/inquiries">inquiries</a></span>
					</div>
				</div>
			</div>
	</div>

<%- include('partials/footer.ejs') %>