<%- include('partials/header.ejs', {content: 'welcome to 9VT\5.'}) %>

	<div class="main mx-3 py-2">
			<div class="row bigrowman">
				<div class="col-4">
					<div id="R1" class="row babyrowman justify-content-center align-items-center">
						<span id="link1"><a href="/catalogue">catalogue</a></span><p class="backslashes mb-0 mt-1">\\</p><span id="link2"><a href="/submissions">submissions</a></span>
					</div>
					<div id="R2" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R3" class="row babyrowman justify-content-end align-items-center"></div>
				</div>
				<div class="col-4">
					<div id="R4" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R5" class="row babyrowman justify-content-center align-items-center"></div>
					<div id="R6" class="row babyrowman justify-content-start align-items-center"></div>
				</div>
				<div class="d-none d-md-block col-4">
					<div id="R7" class="row babyrowman justify-content-center align-items-center"></div>
					<div id="R8" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R9" class="row babyrowman justify-content-start align-items-center"></div>
				</div>
				<div class="col-4 d-md-none">
					<div class="row babyrowman justify-content-end">
						<div id="nine1" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">9</div>
						<div id="V1" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">V</div>
						<div id="T1" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">T</div>
					</div>
					<div class="row babyrowman justify-content-end">
						<div id="nine2" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">9</div>
						<div id="V2" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">V</div>
						<div id="T2" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">T</div>
					</div>
					<div class="row babyrowman justify-content-end">
						<div id="nine3" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">9</div>
						<div id="V3" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">V</div>
						<div id="T3" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">T</div>
					</div>
				</div>
			</div>
			<div class="row bigrowman">
				<div class="col-4">
					<div id="R10" class="row babyrowman justify-content-center align-items-center"></div>
					<div id="R11" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R12" class="row babyrowman justify-content-end align-items-center">
						<h3 class="d-none d-md-block popup text-right">(click me -->)</h3>
					</div>
				</div>
				<div data-aos="fade" data-aos-duration="2000" class="d-none d-md-block col-4 text-center all-slides">
					<div class="logo-container">
						<div id="nine4" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">9</div>
						<div id="V4" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">V</div>
						<div id="T4" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">T</div>
						<div id="BS4" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">\</div>
						<div id="five4" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">5</div>
					</div>
					<div>
						<div id="nine5" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">9</div>
						<div id="V5" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">V</div>
						<div id="T5" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">T</div>
						<div id="BS5" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">\</div>
						<div id="five5" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">5</div>
					</div>
					<div>
						<div id="nine6" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">9</div>
						<div id="V6" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">V</div>
						<div id="T6" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">T</div>
						<div id="BS6" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">\</div>
						<div id="five6" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">5</div>
					</div>
				</div>
				<div class="col-4">
					<div id="R13" class="row babyrowman justify-content-start align-items-center">
					 	<h3 class="popup d-none d-md-block">(<-- rearrange me)</h3>	
					 </div>
					<div id="R14" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R15" class="row babyrowman justify-content-center" align-items-center></div>
				</div>
			</div>
			<div class="row bigrowman">
				<div class="d-none d-md-block col-4">
					<div id="R16" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R17" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R18" class="row babyrowman justify-content-center align-items-center"></div>
				</div>
				<div class="d-md-none col-4">
					<div class="row babyrowman">
						<div id="BS1" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">\</div>
						<div id="five1" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">5</div>
					</div>
					<div class="row babyrowman">
						<div id="BS2" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">\</div>
						<div id="five2" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">5</div>
					</div>
					<div class="row babyrowman">
						<div id="BS3" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">\</div>
						<div id="five3" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="btn p-1 draggable">5</div>
					</div>
				</div>
				<div class="col-4">
					<div id="R19" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R20" class="row babyrowman justify-content-center align-items-center"></div>
					<div id="R21" class="row babyrowman justify-content-start align-items-center"></div>
				</div>
				<div class="col-4">
					<div id="R22" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R23" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R24" class="row babyrowman justify-content-center align-items-center">
						<span id="link3"><a href="/inquiries">inquiries</a></span>
						<p class="backslashes mb-0 mt-1">\\</p>
						<span id="link4"><a href="/about-us">about us</a></span>
					</div>
				</div>
			</div>
	</div>

<%- include('partials/footer.ejs') %>