<%- include('partials/header.ejs', {content: "interested in submitting your work? you've come to the right place."}) %>

	<div class="main mx-3 py-2">
			<div class="row bigrowman">
				<div class="col-4">
					<div id="R1" class="row babyrowman justify-content-center align-items-center">
						<span id="link1"><a href="/">home</a></span><p class="backslashes mb-0 mt-1">\\</p><span id="link2"><a href="/catalogue">catalogue</a></span>
					</div>
					<div id="R2" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R3" class="row babyrowman justify-content-end align-items-center"></div>
				</div>
				<div class="col-4">
					<div id="R4" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R5" class="row babyrowman justify-content-center align-items-center"></div>
					<div id="R6" class="row babyrowman justify-content-end align-items-center"></div>
				</div>
				<%- include('partials/puzzle-right.ejs') %>
			</div>
			<div data-aos="fade" data-aos-duration="2000" class="row bigrowman">
				<div class="col-2 col-md-3 col-xl-4">
					<div id="R7" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R8" class="row babyrowman justify-content-center align-items-center"></div>
					<div id="R9" class="row babyrowman justify-content-start align-items-center"></div>
				</div>
				<div class="col-8 col-md-6 col-xl-4 align-items-center border-yo scrollable">
					<div class="logo-container align-items-center underbend">
						<h3 class="text-left">we are currently seeking creative writers to contribute to our next publication, an anthology of short stories in softcover.</h3>
					</div>
					<div class="logo-container align-items-center underbend">
						<h3 class="text-right">submissions may be fiction or nonfiction, several words or several dozen pages, and written or non-written in form.</h3>
					</div>
					<div class="logo-container align-items-center underbend">
						<h3 class="text-left">the submission deadline is July 8th, however spaces may fill up before then, so the sooner your work is submitted, the better.</h3>
					</div>
					<div class="logo-container align-items-center">
						<h3 class="text-right">if you're interested, email us at <a class="h3-link" href="mailto:submissions@9vtbackslash5.com">submissions@9vtbackslash5.com</a>.</h3>
					</div>
					<div class="logo-container align-items-center">
						<h3 class="text-left">we accept all styles, genres, musings -- but prefer those <span class="bender">which bend and experiment.</span></h3>
					</div>
					<div class="logo-container align-items-center underbend">
						<h3 class="text-right">please tell us a bit about yourself and your work with your submission.</h3>
					</div>
				</div>
				<div class="col-2 col-md-3 col-xl-4">
					<div id="R10" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R11" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R12" class="row babyrowman justify-content-center align-items-center"></div>
				</div>
			</div>
			<div class="row bigrowman">
				<%- include('partials/puzzle-left.ejs') %>
				<div class="col-4">
					<div id="R19" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R20" class="row babyrowman justify-content-center align-items-center"></div>
					<div id="R21" class="row babyrowman justify-content-start align-items-center"></div>
				</div>
				<div class="col-4">
					<div id="R22" class="row babyrowman justify-content-start align-items-center"></div>
					<div id="R23" class="row babyrowman justify-content-end align-items-center"></div>
					<div id="R24" class="row babyrowman justify-content-center align-items-center">
						<!-- how to align the objects in this row at the bottom of the screen -->
						<span id="link3"><a href="/inquiries">inquiries</a></span>
						<p class="backslashes mb-0 mt-1">\\</p>
						<span id="link4"><a href="/about-us">about us</a></span>
					</div>
				</div>
			</div>
	</div>

<%- include('partials/footer.ejs') %>